extends base.pug

block style
    style
      include ../static/home.css
      include ../static/homeRes.css
      include ../static/about.css

block content
    div.container
        div.about
            h1 About 
            h2 Harris Ali Khan 
        div.dancer 
            h2 Proffesional Dancer and Choreographer   
            p I have 10 years of experience in Dance and Choreography. I have tought 1000+ students till date.  My team of 200+ proffesional  Choreographers have worked for big projects in bollywood and   hollywood with directors like sanjay Leela bhansali and Christopher nolan.


        div.numbers
            div.num1
                div.choregraphers
                    h1 200+
                    p choreographers
                div.students
                    h1 1000+
                    p  students
            div.num2        
                div.projects
                    h1 300+
                    p projects
                div.hours
                    h1 10000+
                    p hours of Choreography Experience
