extends base.pug

block style
    style
      include ../static/home.css
      include ../static/homeRes.css 
      include ../static/classInfo.css 

block content
    div.sec1
        h1 Take a step towards the Wow Result 

    div.sec2
        div.headings
            h1 COURSES 
            h2 You can choose a course that suits you, as well as Specify a group or  individual course 

        div.box-1
            img(src="../static/images/sq1-crop.jpg")
            p group session


        div.box-2
            img(src="../static/images/sq2.jpg")
            p with Remo


        div.box-3
            img(src="../static/images/sq4.jpg")
            p with Terrance

    div.sec3 
        h1 ENROLL NOW !
             
