//- index.pug
doctype html
html
  meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  head
    title Harry Dance Acemdemy
    style
      include ../static/style.css
  body
    nav#navbar
        ul 
            div#logo
                img(src="../static/images/logo2.png")
                span HDA      
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classInfo") Class Info]
            li #[a(href="/contact") Contact Us]

    section#introSection
        div.big Welcome to Harry's Dance Acedemy
        div.small Eat Dance Sleep Repeat  
        
    section#missionSection
         h1  Our Mission

          div.box1 
            div.card1 
              img(src="../static/images/grp.png")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro deleniti commodi non odit voluptatem, incidunt, nobis cumque eius corrupti magnam sit labore illum eos ipsam libero velit quod! Distinctio earum et aut magni odit, iure nulla! Tenetur id voluptas facere incidunt commodi suscipit maxime consectetur cum, doloremque, perferendis assumenda eveniet quis quas quo cupiditate itaque atque ratione distinctio minus unde? Commodi ipsam at magnam aut beatae doloremque ducimus reprehenderit quisquam vero optio a, pariatur sit omnis accusamus, tempore eos et hic ut voluptatem harum esse earum atque placeat fugiat? Libero nesciunt praesentium aperiam vero eveniet consequatur deserunt quas, quod quos.

          div.box2 
            div.card2 
              img(src="../static/images/hiphop.png")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro deleniti commodi non odit voluptatem, incidunt, nobis cumque eius corrupti magnam sit labore illum eos ipsam libero velit quod! Distinctio earum et aut magni odit, iure nulla! Tenetur id voluptas facere incidunt commodi suscipit maxime consectetur cum, doloremque, perferendis assumenda eveniet quis quas quo cupiditate itaque atque ratione distinctio minus unde? Commodi ipsam at magnam aut beatae doloremque ducimus reprehenderit quisquam vero optio a, pariatur sit omnis accusamus, tempore eos et hic ut voluptatem harum esse earum atque placeat fugiat? Libero nesciunt praesentium aperiam vero eveniet consequatur deserunt quas, quod quos.

          div.box3 
            div.card3 
              img(src="../static/images/traditional.png")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro deleniti commodi non odit voluptatem, incidunt, nobis cumque eius corrupti magnam sit labore illum eos ipsam libero velit quod! Distinctio earum et aut magni odit, iure nulla! Tenetur id voluptas facere incidunt commodi suscipit maxime consectetur cum, doloremque, perferendis assumenda eveniet quis quas quo cupiditate itaque atque ratione distinctio minus unde? Commodi ipsam at magnam aut beatae doloremque ducimus reprehenderit quisquam vero optio a, pariatur sit omnis accusamus, tempore eos et hic ut voluptatem harum esse earum atque placeat fugiat? Libero nesciunt praesentium aperiam vero eveniet consequatur deserunt quas, quod quos.
          
    section#sponsorSection
        h2 Our Sponsors
        div#sponsors
            img(src="../static/images/apple_logo_PNG19672.png")
            img(src="../static/images/boylogo.png")
            img(src="../static/images/dell-png-logo-0.png")
            img(src="../static/images/microsoft-logo-4.png")


    footer#footer 
        | Copyright 2023 © HarryDanceAcedemy.com | All rights reserved
    script
      include ../static/index.js
