/* @import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Roboto+Mono:wght@100;500&family=ZCOOL+QingKe+HuangYou&display=swap'); */


*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
}






.logo{
    display: flex;
    color:white;
    align-items: center;
    margin:0 14px;
    position: relative;
    right: 18%;
}
.logo img{
    height: 3.5rem;
    filter: invert(1);
    
}
.logo span{
    color: #ffa8a8;
    padding: 8px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    padding: 1%;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.navbar li {
    list-style: none;  
    padding-top: 0.5rem;

}
.navbar li a{
    color: #16fffd;
    font-size: 1.12rem;
    text-decoration: none;
    padding: 1em 0em;
    margin: 0em 2em;
    position: relative;
    top: 25%;
}

.navbar li a:hover{
    color: #ff5757;
    /* font-size: 1.6rem; */
}

#introSection{
    color:rgb(255, 234, 234);
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: url('./static/images/dance3.jpg') no-repeat center center/cover;
    height: 100vh;
    background-color:rgb(0, 0, 0);
    /* font-size: 35px; */
}
.big{
    font-size: 3.4rem;
    color: #50ffbc;
    background-color: #00000080;
    position: relative;
    left: 7%;
    top: 31%;
}
.small{
    font-size: 2.5rem;
    color: #ffa8a8;
    background-color: #0000005c;
    position: relative;
    left: 8%;
    top: 33%;
}


#missionSection{
    height:176vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    /* background: url('./static/dance4.jpg') no-repeat center center/cover; */
}
/* #missionSection{
    height:150vh;
    background-color:rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
} */
#missionSection h1{
    font-size: 2rem;
    text-align:center;
    padding-top: 2rem;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: #16fffdd9;
}
.box1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 6rem 9rem;
    position: relative;
    top: 2%;
}
.box2{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    align-items: center;
    margin: 6rem 9rem;
    position: relative;
    top: 10%;
}
.box3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 6rem 9rem;
    position: relative;
    top: 18%;
}

.box1 p{
    font-size: 1.2rem;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin: 0rem 25%;
    position: relative;
    left: 27%;
    color:white;
    font-weight: normal;
}
.box2 p{
    font-size: 1.2rem;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin: 0rem 25%;
    position: relative;
    right: 27%;
    color:white;
    font-weight: normal;
}
.box3 p{
    font-size: 1.2rem;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin: 0rem 25%;
    position: relative;
    left: 27%;
    color:white;
    font-weight: normal;
}


.box1 .card1{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 35rem;
    height: 10em;
    position: absolute;
    background-color:#50ffbc4d;
}
.card1 img{
    height: 10%;
    width: 10%;
    position: relative;
    top: 10%;
    height: 80%;
    width: 80%;
}


.box2 .card2{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 35rem;
    height: 10em;
    position: absolute;
    background-color:#50ffbc4d;
}
.card2 img{
    height: 10%;
    width: 10%;
    position: relative;
    top: 10%;
    height: 80%;
    width: 60%;
}


.box3 .card3{
    border: 2px solid rgb(255, 253, 253);
    border-radius: 10px;
    width: 35rem;
    height: 10em;
    position: absolute;
    background-color:#50ffbc4d;
}
.card3 img{
    height: 10%;
    width: 10%;
    position: relative;
    top: 10%;
    height: 80%;
    width: 80%;
}

#sponsorSection{
    height:38vh;
    background-color: rgb(160 255 172);
}
#sponsorSection h2{
    text-align:center;
    padding-top: 1em;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
#sponsors{
    /* display: flex;
    flex-direction: row; */
    height:120px;
    max-width: 1000px;
    margin: auto;
}

#sponsors img{
    height: 132%;
    margin: 16px;
    position: relative;
    left: 8%;
    top: 28%;
}

#footer{
    height: 7vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: aliceblue;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

/* for message (msg.pug) */
.msg{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
}

/* burger */
.burger{
    position: absolute;
    top: 3%;
    left: 229%;
    display: none;
    cursor: pointer;
}
.line{
    width: 45px;
    background-color: aliceblue;
    height: 5px;
    margin: 11px 3px;

}





